header {
  display: flex;
  justify-content: space-between;
}
.classes_p {
  font-size: 22px;
}
.classes_search {
  margin-top: 20px;
}
.classes_pagsing {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.dialog-footer {
  margin-left: 430px;
}
.el-input__inner {
  width: 300px;
}
