// 标题
.classes_p{
  font-size: 22px;
}

// 搜索
.classes_search{
  margin-top: 20px
}

// 分页
.classes_pagsing{
  width: 100%;
  // text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 22px
}

.from_width{
  margin-left: 55px;
  .el-form-item__content{
    margin-top: 10px;
    // height: 60px;
  }
}
.el-dialog {
  display: flex;
  text-align: center;
  /* width: 450px; */
  .el-form-item {
    width: 350px;
  }

}