// 标题
.title{
  display: flex;
  justify-content: space-between;
}
.classes_p{
  font-size: 22px;
}

// 搜索
.classes_search{
  margin-top: 20px
}

// 表格
.el-table{
  :deep(.el-table-column){
    height: 100px;
  }
}


// 分页
.demo-pagination-block{
  display: flex;
justify-content: center;
margin-top: 30px;
}